@font-face {
  font-family: 'pixel';
  src: url('minecraft_font.ttf');
}

.overlay {
  position: absolute;
  right: 30px;
  bottom: 30px;
  color: white;
  font-family: 'pixel';
  font-size: 25px;
  text-shadow: 3px 3px #000000, -2px 1px #000000, 1px 1px #000000, 1px -2px #000000;
}

canvas {
  cursor: none;
}
